# Object files
*.o
*.ko
#*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# IDE specific
.vscode/
.vs/
build/

# OpenHoW
src/3rdparty/SDL2/
bin/imgui.ini
bin/debug/
bin/release/

# Ignore extracted assets 
bin/mods/how/audio/
bin/mods/how/chars/
bin/mods/how/frontend/
bin/mods/how/music/
bin/mods/how/skys/
bin/mods/how/speech/
bin/mods/how/streams/
bin/mods/how/textures/
bin/mods/base/debug/
/.idea/
/cmake-build-debug/
/bin/extractor
/bin/OpenHoW
/bin/ptgtool
